html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}
a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 940px;
  margin: 0 auto;
}

.main-header{
  background-color: #f4f7f9;
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  width: 940px;
  margin-bottom: 60px;
  list-style: none;
  display: flex;
  padding-left: 21px;
  flex-wrap: wrap;

}



.user-navigation {
  list-style: none;
  display: flex;

}

.user-navigation-entered{
  display: flex;
  flex-direction: column;
  order: 2;
}

.upper-bar{
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  margin-bottom: 35px;
  min-height: 42px;
}

.bar-container{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-bar,
.right-bar{
  display: flex;
  flex-wrap: wrap;
}

.header-middle{
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.user-navigation{
  order: 2;
  align-items: baseline;
  display: flex;
  margin: 0;
  padding: 0;
}

.user-navigation a{

  font-size: 21px;
  line-height: 21px;
}


.user-navigation li{
  background-color: #ffffff;
  align-items: baseline;
  margin-left: 10px;
}




.login-button{
  position: relative;
  margin-left: 10px;
  display: block;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-right: 25px;
  padding-left: 28px;


}

.login-button::before{
  content: "";

  position: absolute;
  top: 14px;
  left: -1px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;

}

.login-button:hover:before{
  opacity: 1;
}


.register{
  display: block;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-right: 25px;
  padding-left: 15px;

}

.upper-bar input{
  background-color: #293449;
  color: #ffffff;
}


.main-navigation a{
  display: block;
  color:#ffffff;
  padding-bottom: 23px;
  padding-top: 22px;
  padding-right: 31px;
  padding-left: 31px;
}


.upper-bar a{

  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 14px;
}



.user-navigation a{
  color:#000000;
}

.user-navigation a:hover{
  color:#ee3643;

}

.user-navigation a:focus{
  color:rgba(0, 0, 0, 0.3);
}

.navigation-action{
  font-size: 16px;
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
}



.navigation-action li:last-child{
  margin-left: 32px;
  color: #32425c;
}

.navigation-action li:first-child{
  list-style: none;
}

.user-profile{
  background-color: #ffffff;
  color: #000000;
  padding-left: 47px;
  padding-right: 69px;
  padding-top: 14px;
  padding-bottom: 11px;
  position: relative;
}

.user-profile::before{
  content: "";
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}



.user-profile::after{
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}



.navigation-action a{
  color:#000000;
}

.navigation-action a:hover{
  color:#ee3643;
}

.user-profile:hover{

}

.navigation-action a:focus,
.user-profile:focus{
  color:rgba(0, 0, 0, 0.3);
  opacity:0.3;
}


.main-navigation a:hover,
.upper-bar input:hover{
  background-color: #212a3a;
}




.main-navigation a:focus{
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.upper-bar input:active{
  background-color: #293449;
}

.upper-bar input:focus{
  color: black;
  background-color: white;
}



.logo{
  background-color: #ee3643;
  width: 220px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  padding-top: 13px;
  padding-left: 55px;
  height: 47px;
  position: absolute;
  z-index: 5;
}
.logo:hover{
  background-color: #ca2c37;
}

.logo:focus{
  background-color: #ba2732;
}

.basket{
  position: relative;
  padding-left: 50px;
  max-height: 42px;
  padding-right: 31px;
}

.basket-full{
  position: relative;
  padding-left: 50px;
  max-height: 42px;
  padding-right: 26px;
  background-color: #ee3643;
}


.basket::before,
.basket-full::before{
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark{
  position: relative;
  padding-left: 50px;
  max-height: 42px;
  padding-right: 28px;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;


  opacity: 0.3;
}

.bookmark:hover,
.basket:hover{
  background-color: #212a3a;
}

.bookmark:hover:before,
.basket:hover:before,
.basket-full:hover:before,
.user-profile:hover:before,
.user-profile:hover:after{
  opacity: 1;
}


.bookmark:focus,
.basket:focus{
  background-color: #161d29;
}

.bookmark:focus:before,
.basket:focus:before,
.basket-full:focus:before,
.user-profile:focus:before,
.user-profile:focus:after{
  opacity: 0.5;
}

.search-form svg{
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
  position: absolute;
  fill: #ffffff;
  width: 17px;
  height: 17px;
  z-index: 59;
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.search-form:hover svg{
  opacity: 1;
}


.search-form{
  position: relative;
}

.search-form::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  z-index: 88;
  opacity: 0;
}

.search-form:focus-within:before{
  opacity: 1
}

.search-button{
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
  position: relative;
  width: 264px;
  border: 0;
  height: 42px;
  padding-left: 49px;
}

.checkout{
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 22px;
  max-height: 42px;
}

.checkout:hover{
  background-color: #518534;
}

.checkout:focus{
  background-color: #5fbb2d;
}

.about-site{
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin-left: 53px;
  margin-right: 71px;
}

.contacts-header p{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  width: 270px;
  padding-left: 5px;
}

.tel{
  display: block;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border:solid 3px #ffffff;
  width: 270px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 74px;
  position:relative;
}

.tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts{
  font-family: PTSans,Arial,sans-serif;
  font-size: 12px;
  line-height: 24px;
  color:#000000;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 62px auto 86px;
}

.contacts-about{
  width: 519px;
}

.contacts-map{
  width: 300px;
}

.contacts-map p,
.contacts-about .contacts-first{
  margin-bottom: 36px;
}

.contacts-map img{
  margin-bottom: 40px;
}

.contacts h2{
  font-family: Cuprum,Arial,sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 26px;

}

.contacts ul{
  font-family: Cuprum,Arial,sans-serif;;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 37px;
  list-style: none;
  margin-top: 18px;
}

.contacts li{
  margin-bottom: 21px;
  position: relative;
}

.contacts li:before{
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 7px;
  left: -40px;
}

.contacts-lost,
.contacts-details{
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-radius: 3px;
}

.contacts-details{
  padding-left: 41px;
  padding-right: 40px;
}

.contacts-lost{
  padding-left: 63px;
  padding-right: 59px;
}

.main-footer{
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer a{
  color:#ffffff;
  display: flex;
}

.main-footer ul{
  list-style: none;
}

.upper-footer{
  display: flex;
  width: 940px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contacts-footer{
  width: 322px;
  display: block;
}

.footer-nav ul,
.offers {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-nav li,
.offers li{
  padding-left: 55px;
}

.footer-line-one{
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.footer-line-two{
  display: flex;
  justify-content: flex-start;
}

.offers a{
  color:#ffd180;
}

.main-footer a:hover{
  text-decoration: underline;
}

.offers a:hover{
  text-decoration: underline;
}

.main-footer a:focus{
  color:rgba(241, 245, 247, 0.5);
}

.offers a:focus{
  color:rgba(255, 209, 128, 0.5);
}

.lower-bar{
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  width: 100%;

}

.lower-bar-container{
  width: 940px;
  display: flex;
  margin: 0 auto;
  padding-top:39px;
  padding-bottom: 33px;
}

.footer-about{
  width: 228px;
  display: block;
}


.lower-bar a{
  color: #ffd180;
}

.lower-bar a:hover{
  text-decoration: underline;
}

.lower-bar a:focus{
  color:#ee3643;
}

.soc{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 132px;
  list-style: none;
  margin-left: 161px;
  padding: 0;
}

.soc-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background: #212a3a;
  border-radius: 50%;
}

.mail{
  margin-left: 119px;
}

.site{
  margin-left: 53px;
}

.soc-button:hover,
.soc-button:focus{
  background: #ee3643;
}

.catalog-title{
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#32425c;
  padding-left: 30px;
  padding-bottom: 34px;
  padding-top: 32px;

}

.carousel{
  font-size: 13px;
  line-height: 18px;
  color:#000000;
  list-style: none;
  display: flex;
  padding-left: 0;

}

.carousel li{
  padding-right: 39px;
  position: relative;
  font-family: PTSans,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.home:before{
  content: "";
  position: absolute;

  top: 2px;
  left: -25px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.carousel a{
  color: black;
}

.filters-main{
  color:#000000;
  font-family: PTSans,Arial,sans-serif;
  width: 220px;
}

.filters-main ul{
  margin-top: -15px;
}

.filters-main h2{
  font-family: PTSans,Arial,sans-serif;
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding: 14px 149px 15px 18px;
  max-height: 38px;
}

.filters-main label{
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 22px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;

  width: 23px;
  height: 23px;


  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;


  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}



.filter-input-radio:disabled + label::after {
  content: "";

  position: absolute;

  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;


  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;

  top: 50%;
  left: 0;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label:hover:after,
.filter-input-radio:checked + label:hover:after,
.filter-input-radio + label:hover:before,
.filter-input-checkbox + label:hover:before{
  opacity: 0.5;
}

.price-style{
  background-color: #f7f3ec;
  width: 95px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 14px;
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.price-slider{
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 9px;
}

.price-bar{
  height: 2px;
  background: #d7dcde;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.price-bar:before{
  content: "";

  position: absolute;

  top: -10px;
  left: 0;
  width: 22px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-bar:after{
  content: "";

  position: absolute;

  top: -10px;
  right: 20px;
  width: 22px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-green {
  width: 80%;
  height: 2px;
  background: #00ca74;
}


.price-range{
  display: flex;
  justify-content: space-between;
  width: 220px;
  align-items: baseline;
  margin-bottom: 15px;
}

.filters-main fieldset{
  padding-left: 0;
}

.manufacturer-field legend{
  border-top: 1px solid #e5e5e5;
  width: 220px;
  padding-top: 12px;
}


.filters-main legend{
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturer{
  font-family: PTSans,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 27px;
}

.manufacturer li,
.power li{
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-filters-plus-catalog{
  display: flex;
  width: 940px;
}

.main-filters-plus-catalog fieldset {
border: none;
}

.main-catalog {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 20px;
  margin-top: 11px;
}

.power{
  font-family: PTSans,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding-left: 0;
}

.sort-main{
  display: flex;
  padding-left: 19px;
  min-height: 38px;
  background-color: #f7f3ec;
  flex-wrap: wrap;
  align-items: baseline;
}

.sort-main h3{
  padding-left: 1px;
  font-family: PTSans,Arial,sans-serif;
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

.sort-main ul{
  display: flex;
  padding-left: 139px;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sort-main li{
  list-style: none;
  padding-right: 45px;
}

.sort-main a{
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
  text-transform: uppercase;
  font-family: PTSans,Arial,sans-serif;
  border-bottom: #ee3643 2px dotted;
  margin-bottom: 0;
}

.sort-main a:hover{
  color: #000000;
  opacity: unset;
  border-bottom: #ee3643 2px solid;
}

.sort-main a:focus,
.sort-main a:active{
  color: #ee3643;
  text-decoration: none;
  opacity: unset;
  border: none;
}

.button-show {
  font-family: PTSans,Arial,sans-serif;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding: 10px 39px 7px 39px;
  font-size: 12px;
  line-height: 18px;
  margin-top: 63px;
}

.sort-button{
  padding-right: 12px;
  background-color: #f7f3ec;
  border: none;
  opacity: 0.3;
}

.sort-button:hover{
  opacity: 1;
}

.sort-button:focus{
  opacity: 1;
  fill: #ee3643;
}


.item-list,
.item-list-index{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}


.item-list li,
.item-list-index li{
  border: solid 1px #e5e5e5;
  width: 218px;
  list-style: none;
  text-align: center;
  position: relative;
  margin-bottom: 21px;
}

.new:before{
  position: absolute;
  content: "";
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  z-index: 20;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.item-list li:nth-child(3n-1){
  margin-left: 22px;
  margin-right: 22px;
}

.item-list-index li:nth-child(3n-1){
  margin-left: 22px;
  margin-right: 11px;
}

.item-list-index li:nth-child(3n){
  margin-left: 11px;
  margin-right: 22px;
}

.item-list h3 a,
.item-list-index h3 a{
  font-family: PTSans,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color:#000000;
}

.item-list li:hover,
.item-list-index li:hover{
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.discount{
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
  color:#999999;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.price{
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color:#ffffff;
  background-color: #ee3643;
  margin-bottom: 20px;
  width: 141px;
  padding: 11px 30px;
  border-radius: 3px;
  position: relative;
  margin-left: 38px;
}

.price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 215px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.item-list li .actions,
.item-list-index li .actions{
  display: none;

}

.item-list li:hover .actions,
.item-list-index li:hover .actions{
  display: block;
}


.item-list li:focus .actions,
.item-list-index li:focus .actions{
  display: block;
}

.bookmarks-catalog,
.buy-catalog {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 3px;
}

.bookmarks-catalog {
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  border:2px solid #367315;
  color:#000000;
  margin-top: 12px;

}

.bookmarks-catalog:focus{
  border:2px transparent;
  color:rgba(50, 66, 92, 0.3)
}

.bookmarks-catalog:hover{
  border:2px solid #000000;
  color:#000000;
}


.buy-catalog {
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: uppercase;
  box-shadow:0 3px 0 0 #367315;
  color: #ffffff;
  position: relative;
  padding-top: 10px;
}

.buy-catalog:before{
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

}

.buy-catalog:hover{
  background-color: #5fbb2d;
}

.buy-catalog:focus{
  background-color: #518534;
  box-shadow: none;
}

.pages{
  font-family: PTSans,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}


.pages ul{
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  margin-top: 20px;
}

.pages li{
  margin-right: 10px;
  list-style: none;
}

.pages a{
  border:1px solid #e5e5e5;
  padding: 12px 14px 12px 14px;
  border-radius: 3px;
  font-family: PTSans,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.pages a{
  color: #000000;
}

.active-page a{
  background-color: #ee3643;
  color: #ffffff;
}

.pages a:hover{
  border: solid 1px #bdc6ca;
}

.pages a:focus{
  outline: none;
  border: solid 1px #ee3643;
}

.about-tools{
  background-color: #f4f7f9;
  margin-top: 60px;
  padding-top: 47px;
  padding-bottom: 73px;
}

.about-container{
  margin: 0 auto;
  width: 940px;
}

.about-tools p{
  font-size: 13px;
  line-height: 24px;
  font-family: PTSans,Arial,sans-serif;
  color:#000000;
}

.about-tools h2 {
  font-size: 30px;
  line-height: 30px;
  color:#000000;
  text-transform: uppercase;
}

.promo{
  position: relative;
}

.promo,
.drill,
.hammer-drill{
  width: 620px;
  height: 266px;
}

.drill{
  background: url(../img/slider-image.jpg) no-repeat;
  position: absolute;
}

.hammer-drill{
  background: url(../img/slide-image.jpg) no-repeat;
  position: absolute;
}

.slide-active{
  z-index: 50;
}

.right-button{
  background-image: url("../img/icon-right.svg");
  right: 20px
}

.left-button,
.right-button{
  width: 22px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 55;
  top: 114px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.left-button{
  background-image: url("../img/icon-left.svg");
  left: 20px;
}



.promo h2{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 24px;
}

.promo p{
  font-size: 18px;
  line-height: 24px;
  margin-top: -28px;
  margin-left: 25px;
}

.promo a{
  background-color: #ee3643;
  color: white;
  display: block;
  width: 195px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-left: 25px;
  margin-top: 124px;
  border-radius: 3px;
}

.promo a:hover{
  background-color: #ca2c37;
}

.promo a:focus{
  background-color: #ba2732;
}

.promo-main{
  margin-bottom: 10px;
}

.promo-main ul{
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.promo-main li{
  margin-bottom: 20px;
}

.promo-row{
  display: flex;
  flex-direction: column;
}



.card-paint,
.card-drill,
.card-truck,
.card-cart,
.card-car{
  width: 300px;
  height: 123px;
  position: relative;
}

.card-drill a,
.card-truck a,
.card-cart a,
.card-car a,
.card-paint a{
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(05, 0, 0, 0.1);
  width: 135px;
  height: 38px;
  margin-left: 25px;
  text-align: center;
  padding-top: 12px;
}

.card-drill a:hover,
.card-truck a:hover,
.card-cart a:hover,
.card-car a:hover,
.card-paint a:hover{
  background-color: rgba(05, 0, 0, 0.2);
}

.card-drill a:focus,
.card-truck a:focus,
.card-cart a:focus,
.card-car a:focus,
.card-paint a:focus{
  background-color: rgba(05, 0, 0, 0.3);
}

.promo-main h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 23px;
  margin-bottom: 12px;
  margin-top: 20px;
}

.card-drill:after,
.card-truck:after,
.card-cart:after,
.card-car:after,
.card-paint:after{
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
}



.card-paint {
  background-color: #ffbf47;
}

.card-paint:after{
  top: 31px;
  right: 43px;
  height: 65px;
  width:44px;

  background-image: url("../img/icon-1.svg");
}

.card-drill {
  background-color: #3bbce3;
}

.card-drill:after{
  top: 33px;
  right: 28px;
  height: 61px;
  width: 75px;

  background-image: url("../img/icon-2.svg");
}

.card-truck {
  background-color: #dc91d8;
}

.card-truck:after{
  top: 31px;
  right: 31px;
  height: 62px;
  width: 78px;

  background-image: url("../img/icon-3.svg");
}

.card-cart {
  background-color: #8ed78f;
}

.card-cart:after{
  top: 26px;
  right: 45px;
  height: 72px;
  width: 59px;

  background-image: url("../img/icon-4.svg");
}

.card-car {
  background-color: #ffc047;
}

.card-car:after{
  top: 32px;
  right: 31px;
  height: 63px;
  width: 78px;

  background-image: url("../img/icon-5.svg");
}

.popular{
  margin-top: -20px;
  background-color: #f9f5f0;
  display: flex;
  padding-left: 20px;
  padding-right: 18px;
  justify-content: space-between;
}

.popular a{
  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum,Arial,sans-serif;
  text-transform: uppercase;
  background-color: #ee3643;
  color:#ffffff;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 253px;
  text-align: center;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 24px;
}

.popular h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#32425c;
  margin-top: 33px;
}

.firms{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  width: 940px;
  justify-content: space-between;
  margin-bottom: 85px;
}

.firms li{
  border: 1px solid #eaeaea;
  width: 220px;
  margin-bottom: 20px;
  text-align: center;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firms li:hover{
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.firms a:focus{
  box-shadow: none;
  opacity: 0.3
}

.services{
  background: #f4f7f9;
  width: 100%;
  min-height: 530px;
  position: relative;
}

.services-container{
  width: 940px;
  margin: 0 auto;
  padding-bottom: 73px;
}


.slider-services{
  padding-left: 0;
  margin-right: 80px;
  position: absolute;
}

.slider-services:after{
  position: absolute;
  content: "";

  width: 10px;
  height: 279px;
  top: -46px;
  right: 0;

  background-image: url(../img/shadow.png);
  background-position: 0 0;
  background-color: rgba(244, 247, 249, 0);
}

.warranty{
  position: absolute;
  z-index: -1;
  margin-left: 320px;
}

.warranty:after{
  position: absolute;
  content: "";

  width: 468px;
  height: 261px;
  top: 43px;
  right: -374px;

  background-image: url(../img/guarantee.png);
  background-position: 0 0;
  background-color: rgba(244, 247, 249, 0);
}

.credit{
  position: absolute;
  z-index: -1;
  margin-left: 320px;
}

.credit:after{
  position: absolute;
  content: "";

  width: 468px;
  height: 261px;
  top: 43px;
  right: -374px;

  background-image: url(../img/credit.png);
  background-position: 0 0;
  background-color: rgba(244, 247, 249, 0);
}

.credit p{
  margin-bottom: 32px;
}

.delivery{
  position: absolute;
  z-index: -1;
  margin-left: 320px;
}

.tab-active{
  z-index: 50;
}

.delivery:after{
  position: absolute;
  content: "";

  width: 468px;
  height: 261px;
  top: 43px;
  right: -374px;

  background-image: url(../img/delivery.png);
  background-position: 0 0;
  background-color: rgba(244, 247, 249, 0);
}

.services h3{
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services h2{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  padding-top: 68px;
}

.services p{
  font-size: 13px;
  line-height: 24px;
  color: #32425c;
}

.services-flex{
  display: flex;
  align-items: baseline;
  margin-top: 54px;
}

.slider-services a{
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  background-color: #405069;
  padding-top: 18px;
  padding-bottom: 17px;
  display: block;
  padding-left: 23px;
  width: 240px;
}

.slider-services a:active{
  outline: none;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 1px 1px 0 0 #ffffff;
}

.slider-services a:focus{
  outline: none;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 1px 1px 0 0 #ffffff;
}

.slider-services a:hover{
  background-color: #293449;
}

.logo-footer{
  background-color: #ee3643;
  width: 220px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  margin-top: 0;
}
.logo-footer:hover{
  background-color: #ca2c37;
}

.logo-footer:focus{
  background-color: #ba2732;
}

.map-extended{
  width: 940px;
  height: 446px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 77;
  margin-left: -470px;
  display: none;
}

.map-extended iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.map-extended img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.reply-form,
.success{
  position: fixed;
  width: 620px;
  height: 430px;
  font-size: 18px;
  line-height: 1px;
  color:#000000;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  border-top: #ee3643 solid 7px;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  background-color: white;
  z-index: 88;
  display: none;
}

.reply-show{
  display: block;
  animation: bounce 0.6s;
}

.reply-error{
  animation: shake 0.6s;
}

.success{
  height: 282px;
}

.reply-main{
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-bottom: 35px;
  position: relative;
}

.close {
  content: "";
  position: absolute;
  top: 10px;
  right: 9px;
  width: 19px;
  height: 19px;
  margin: 0; padding: 0; border: 0;  background-color: transparent;
  z-index: 3;
}

.reply-main input,
.reply-main textarea{
  border: solid 2px #dee3e4;
  font-family: PTSans,Arial,sans-serif;
  font-size: 13px;
  line-height: 10px;
  color: #a9a9a9;
}

.reply-main input{
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

.reply-main input:hover,
.reply-main textarea:hover{
  border-color: #b5b5b5;
}

.reply-main input:focus,
.reply-main textarea:focus{
  border-color: #ee3643;
}

.your-name{
  padding-top: 55px;
  margin-right: 20px;
}

.e-mail{
  padding-top: 55px;
}

.reply-main textarea{
  padding-right: 285px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-top: 10px;
}

.send{
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
}

.confirm{
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 47px;
}

.send-button {
  padding: 14px 199px;
  border: none;
  background-color: #ee3643;
  color:#ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 80px;
  border-radius: 5px;
}

.checkout-button {
  padding: 14px 62px 12px 62px;
  border: none;
  background-color: #ee3643;
  color:#ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 80px;
  border-radius: 5px;
}

.continue-button{
  padding: 14px 62px 12px 62px;
  border: none;
  background-color: #ffffff;
  color:#000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  border-radius: 5px;
}

.success-message{
  padding-top: 50px;
  padding-bottom: 42px;
  padding-left: 179px;
  font-size: 30px;
  line-height: 30px;
  position: relative;
}

.success-message:before{
  content: "";
  position: absolute;

  top: 30px;
  left: 81px;
  width: 66px;
  height: 66px;

  background-image: url("../img/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
