body{
  background-color:grey;
}
.circle li {
  width: 42px;
  height: 42px;
  background: #212a3a;
  border-radius: 50%;
  text-align: center;
}

.promo{
  background: url(../img/slider-image.jpg) no-repeat;
  width: 620px;
  height: 266px;
}
.truck-test{
  background: #f4f7f9 url(../img/delivery.png) no-repeat 601px 261px;
  width: 1200px;
  height: 522px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#close{
  margin: 0; padding: 0; border: 0;  background-color: transparent;
}
