html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}
a {
  text-decoration: none;
}


.main-header{
  background-color: #f4f7f9;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.main-navigation,
.user-navigation {
  list-style: none;
}

.upper-bar{
  background-color: #32425c;
  font-size: 17px;
  line-height: 18px;
}

.upper-bar input{
  background-color: #32425c;
}

.main-navigation a,
.upper-bar a,
.upper-bar input{
  color:#ffffff;
}

.user-navigation a{
  color:#000000;
}

.user-navigation a:hover{
  color:#ee3643;
}

.user-navigation a:focus{
  color:rgba(0, 0, 0, 0.3);
}

.navigation-action{
  font-size: 16px;
  text-decoration: underline;
}

.user-profile a:hover{
  color:#000000;
}

.main-navigation a:hover,
.upper-bar a:hover,
.upper-bar input:hover{
  background-color: #212a3a;
}

.main-navigation a:focus,
.upper-bar a:focus{
  background-color: #293449;
}

.upper-bar input:focus{
  background-color: #ffffff;
  color: #000000;
}

.logo{
  background-color: #ee3643;
}
.logo a:hover{
  background-color: #ca2c37;
}

.logo a:focus{
  background-color: #ba2732;
}

.checkout{
  background-color: #63a63e;
}

.checkout a:hover{
  background-color: #518534;
}

.checkout a:focus{
  background-color: #5fbb2d;
}

.about-site{
  color: #ee3643;
}

.contacts-header{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.contacts-header a{
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}


.contacts{
  font-family: PTSans,Arial,sans-serif;
  font-size: 13px;
  line-height: 24px;
  color:#000000;
}

.contacts h2{
  font-family: Cuprum,Arial,sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts ul{
  font-family: Cuprum,Arial,sans-serif;;
  font-size: 18px;
  line-height: 20px;
}

.contacts a{
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.main-footer{
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.main-footer a{
  color:#ffffff;
}

.main-footer ul{
  list-style: none;
}

.offers a{
  color:#ffd180;
}

.main-footer a:hover{
  text-decoration: underline;
}

.offers a:hover{
  text-decoration: underline;
}

.main-footer a:focus{
  color:rgba(241, 245, 247, 0.5);
}

.offers a:focus{
  color:rgba(255, 209, 128, 0.5);
}

.lower-bar{
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.lower-bar a{
  color: #ffd180;
}

.lower-bar a:hover{
  text-decoration: underline;
}

.lower-bar a:focus{
  color:#ee3643;
}

.circle li {
  width: 42px;
  height: 42px;
  background: #212a3a;
  border-radius: 50%;
  text-align: center;
}

.circle li:hover,
.circle li:focus{
  background: #ee3643;
}

.catalog-title{
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#000000;
}

.carousel{
  font-size: 13px;
  line-height: 18px;
  color:#000000;
  list-style: none;
}

.filters-main{
  color:#000000;
  font-family: PTSans,Arial,sans-serif;
}

.filters-main h2,
.sort-main h3{
  font-family: PTSans,Arial,sans-serif;
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.price-style,
.sort-main{
  background-color: #f7f3ec;
}

.filters-main legend{
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacturer{
  font-family: PTSans,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.manufacturer li,
.power li{
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.power{
  font-family: PTSans,Arial,sans-serif;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.sort-main li{
  list-style: none;
}

.sort-main a{
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  opacity: 0.3;
  text-transform: uppercase;
  font-family: PTSans,Arial,sans-serif;
}

.sort-main a:hover{
  color: #000000;
  opacity: unset;
}

.sort-main a:focus{
  color: #ee3643;
  text-decoration: none;
  opacity: unset;
}

.button-show {
  font-family: PTSans,Arial,sans-serif;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px;
}

.item-list a{
  font-family: PTSans,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color:#000000;
}

.item-list li:hover{
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.discount{
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: line-through;
  color:#999999;
}

.price{
  font-family: PTSans,Arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color:#ffffff;
  background-color: #ee3643;
}

.bookmarks-catalog a{
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: uppercase;
  border:2px solid #367315;
  color:#000000;
}

.bookmarks-catalog a:focus{
  border:2px transparent;
  color:rgba(50, 66, 92, 0.3)
}

.bookmarks-catalog a:hover{
  border:2px solid #000000;
  color:#000000;
}

.buy-catalog a{
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-transform: uppercase;
  box-shadow:0 5px 0 0 #367315;
}

.buy-catalog a:hover{
  background-color: #5fbb2d;
  box-shadow: #367315;
}

.buy-catalog a:focus{
  background-color: #518534;
  box-shadow: none;
}

.pages{
  font-family: PTSans,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pages a{
  border:1px solid #bdc6ca;
}

.pages a:hover{
  border: solid 1px #bdc6ca;
}

.pages a:focus{
  border: solid 1px #ee3643;
}


.pages a{
  color: #000000;
}

.about-tools{
  background-color: #f4f7f9;
}

.about-tools p{
  font-size: 13px;
  line-height: 24px;
  font-family: PTSans,Arial,sans-serif;
  color:#000000;
}

.about-tools h2 {
  font-size: 30px;
  line-height: 30px;
  color:#000000;
  text-transform: uppercase;
}

.promo{
  background: url(../img/slider-image.jpg) no-repeat;
  width: 620px;
  height: 266px;
}

.promo h3{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.promo p{
  font-size: 18px;
  line-height: 24px;
}

.promo a{
  background-color: #ee3643;
}

.promo a:hover{
  background-color: #ca2c37;
}

.promo a:focus{
  background-color: #ba2732;
}


.promo-main a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-main h3{
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.card1 {
  background-color: #ffbf47;
}


.card2 {
  background-color: #3bbce3;
}

.card3 {
  background-color: #dc91d8;
}

.card4 {
  background-color: #8ed78f;
}

.card5 {
  background-color: #ffc047;
}

.popular{
  background-color: #f9f5f0;
}

.popular a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  color:#ffffff;
}

.popular h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:#000000;
}

.firms li{
  border: 1px solid #eaeaea;
}

.firms li:hover{
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.firms a:focus{
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3
}

.services{
  background: #f4f7f9 url(../img/delivery.png) no-repeat 601px 261px;
  width: 1200px;
  height: 522px;
}

.services ul{
  list-style: none;
}

.services h3{
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.services h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.services p{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.slider-services a{
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  background-color: #405069;
}

.slider-services a:hover{
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 1px 1px 0 0 #ffffff;
}

.slider-services a:focus{
  color: #000000;
  background-color: #ffffff;
}






.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#close{
  margin: 0; padding: 0; border: 0;  background-color: transparent;
}

